@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

body {
    background-color: white;
}

/* Structures CSS */
#content {
    position:absolute;
    height: 150%; 
    width: 80%; 
    top: 5%; 
    left: 10%; 
    background: #f0dfcf;
}

#intro {
    position:absolute;
    top: 10px;
    left: 200px;
}
.tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 600px;
    position: relative;
    left: 25%;
    top: 20px;
}

.tab{
    font-family: 'League Spartan', sans-serif;
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: auto;
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(210, 14, 236);
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    border: 0;
    padding: 1px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: static;
    text-transform: uppercase;    
}
.untab{
    font-family: 'League Spartan', sans-serif;
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: auto;
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(224, 19, 231);
    color: white;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    border: 0;
    padding: 1px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: static;
    text-transform: uppercase;
}
.tab:hover {
    background: white;
    color: rgb(224, 19, 231);
  }


/* Specific Features Page 1*/
#asl {
    font-family: 'Brush Script MT', cursive;
    position: relative;
    text-align: center;
    font-size: 50px;
}
#author {
    font-family: 'Brush Script MT', cursive;
    position: relative;
    font-size:25px;
}
#your-asl {
    font-family: 'Times New Roman", Times, serif';
    position: relative;
    font-size: 20px;
}
#camera {
    position: relative;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 600px;
    position: relative;
    left: 25%;
    top: 20px;
}
  
.button {
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: auto;
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: black;
    color: white;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    border: 0;
    border-radius: 50px;
    padding: 1px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: static;
    text-transform: uppercase;
    letter-spacing: 2px;
}
  
  .button:hover {
    background: #C1CFDA;
    color: black;
  }

.uploaded{
    top: 100px;
    position: relative;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#submit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
}

/* Specific Features Page 2*/
.result{
    top: 40px;
    position: relative;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
#letter-container{
    font-family: 'Copperplate';
    position: relative;
    text-align: center;
    font-size: 60px;
    color: white;
}


/* Centering Stuff*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Centered text */
#center {
    position: absolute;
    top: 360%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}